# Ignorer les fichiers de l'éditeur de code
.vscode/
.idea/
*.swp
*.swo

# Ignorer les fichiers de système d'exploitation
.DS_Store
Thumbs.db

# Ignorer les dépendances 
node_modules/
package-lock.json
yarn.lock

# Ignorer les fichiers de build 
dist/
build/

# Ignorer les fichiers temporaires
*.log
npm-debug.log*

!public/
